n8n/cerebro_workflow_v2.json
{
  "name": "Cerebro v2 — Everything via Hermes Gateway",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram — Receive message",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst text = msg.message?.text || msg.message?.caption || '';\nreturn [{\n  json: {\n    raw_text: text,\n    chat_id: msg.message?.chat?.id,\n    username: msg.message?.from?.username || 'unknown',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "extract-msg",
      "name": "Extract message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/tool/ollama_chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:1.7b\",\n  \"temperature\": 0.1,\n  \"system\": \"You are an intent classifier. Respond ONLY with JSON, no markdown.\\n\\nCategories:\\n- TASK: create/query tasks or projects\\n- NOTE: create or query notes in Obsidian\\n- CONTENT: draft or publish posts\\n- PROGRESS: log metrics or progress\\n- TECHNICAL_QUERY: complex technical questions\\n- SIMPLE_QUERY: general questions\\n- CHAT: casual conversation\\n\\nFormat: {\\\"intent\\\": \\\"CATEGORY\\\", \\\"confidence\\\": 0.0-1.0, \\\"use_claude\\\": true|false}\\nuse_claude=true only for TECHNICAL_QUERY or confidence<0.6\",\n  \"prompt\": \"={{ $json.raw_text }}\"\n}"
      },
      "id": "hermes-classify",
      "name": "Hermes — Classify intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst prev = $('Extract message').first().json;\n\nlet intent;\ntry {\n  let raw = resp.result || '{}';\n  // qwen3 is a reasoning model: drop any <think>...</think> block first.\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '');\n  // Strip markdown fences and grab the first JSON object.\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  intent = JSON.parse(match ? match[0] : cleaned);\n} catch (e) {\n  intent = { intent: 'CHAT', confidence: 0.5, use_claude: false };\n}\n\nconst KNOWN = ['TASK','NOTE','CONTENT','PROGRESS','CHAT','SIMPLE_QUERY'];\nlet route = intent.use_claude ? 'CLAUDE' : (intent.intent || 'CHAT');\n// Anything the router does not explicitly handle becomes a chat reply.\nif (route !== 'CLAUDE' && !KNOWN.includes(route)) route = 'CHAT';\n\nreturn [{\n  json: {\n    ...prev,\n    intent: intent.intent || 'CHAT',\n    confidence: intent.confidence || 0.5,\n    use_claude: intent.use_claude || false,\n    route\n  }\n}];"
      },
      "id": "parse-intent",
      "name": "Parse intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "CLAUDE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "claude"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "TASK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "task"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "NOTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "note"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "CONTENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "content"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "progress"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "CHAT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "SIMPLE_QUERY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "simple"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/tool/claude_chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"system\": \"You are the personal assistant of Sebastian Sterling, DevSecOps Engineer at Expert Radiology (Puerto Rico). You have context on his k3s home lab (Sadida, Ocra, Sram, Xelor, Sacro, Aery), personal software projects, and productivity system. Be direct and technical. Respond in the user's language.\",\n  \"prompt\": \"={{ $('Parse intent').first().json.raw_text }}\",\n  \"max_tokens\": 1024\n}"
      },
      "id": "hermes-claude",
      "name": "Hermes → Claude (top quality)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nreturn [{ json: { response_text: r.result || 'No response.', source: 'Claude' } }];"
      },
      "id": "parse-claude",
      "name": "Parse Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/tool/ollama_chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3.5:4b\",\n  \"temperature\": 0.7,\n  \"system\": \"You are Sebastian's personal assistant. Detected intent: {{ $('Parse intent').first().json.intent }}. Be direct and concise. Respond in the user's language.\",\n  \"prompt\": \"={{ $('Parse intent').first().json.raw_text }}\"\n}"
      },
      "id": "hermes-ollama-chat",
      "name": "Hermes → Ollama (chat/simple)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nreturn [{ json: { response_text: r.result || 'No response.', source: 'Hermes/Ollama' } }];"
      },
      "id": "parse-ollama",
      "name": "Parse Ollama",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Parse intent').first().json;\nreturn [{ json: { response_text: `📋 [Task Agent — Phase 3]\\nDetected: \"${d.raw_text}\"`, source: 'Task-Agent' } }];"
      },
      "id": "agent-task",
      "name": "Task Agent [TODO Phase 3]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Parse intent').first().json;\nreturn [{ json: { response_text: `📝 [Obsidian Agent — Phase 2]\\nDetected: \"${d.raw_text}\"`, source: 'Obsidian-Agent' } }];"
      },
      "id": "agent-obsidian",
      "name": "Obsidian Agent [TODO Phase 2]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Parse intent').first().json;\nreturn [{ json: { response_text: `✍️ [Content Agent — Phase 4]\\nDetected: \"${d.raw_text}\"`, source: 'Content-Agent' } }];"
      },
      "id": "agent-content",
      "name": "Content Agent [TODO Phase 4]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Parse intent').first().json;\nreturn [{ json: { response_text: `📊 [Progress Agent — Phase 5]\\nDetected: \"${d.raw_text}\"`, source: 'Progress-Agent' } }];"
      },
      "id": "agent-progress",
      "name": "Progress Agent [TODO Phase 5]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst r = all.find(i => i.json.response_text) || all[0];\nconst d = $('Parse intent').first().json;\nconst src = r.json.source || 'System';\nconst icon = src === 'Claude' ? '🤖' : src.includes('Ollama') ? '⚡' : '🔧';\nreturn [{\n  json: {\n    chat_id: d.chat_id,\n    response_text: r.json.response_text,\n    footer: `\\n\\n${icon} ${src} · ${d.intent} (${Math.round((d.confidence||0)*100)}%)`\n  }\n}];"
      },
      "id": "merge",
      "name": "Merge response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        420
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.response_text + $json.footer }}",
        "additionalFields": {}
      },
      "id": "telegram-send",
      "name": "Telegram — Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram — Receive message": {
      "main": [
        [
          {
            "node": "Extract message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract message": {
      "main": [
        [
          {
            "node": "Hermes — Classify intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hermes — Classify intent": {
      "main": [
        [
          {
            "node": "Parse intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse intent": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Hermes → Claude (top quality)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task Agent [TODO Phase 3]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obsidian Agent [TODO Phase 2]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Content Agent [TODO Phase 4]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Progress Agent [TODO Phase 5]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hermes → Ollama (chat/simple)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hermes → Ollama (chat/simple)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hermes → Ollama (chat/simple)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hermes → Claude (top quality)": {
      "main": [
        [
          {
            "node": "Parse Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hermes → Ollama (chat/simple)": {
      "main": [
        [
          {
            "node": "Parse Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ollama": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Agent [TODO Phase 3]": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obsidian Agent [TODO Phase 2]": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Agent [TODO Phase 4]": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress Agent [TODO Phase 5]": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge response": {
      "main": [
        [
          {
            "node": "Telegram — Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "cerebro",
    "hermes",
    "v2"
  ]
}
